In [1]:
from getDummiesFile import getDummies

In [2]:
#獲取分類特徵編碼
df= getDummies()

In [ ]:

df.info()

In [8]:
df.drop(['Cabin','Name','Ticket','Parch','SibSp','Sex'],axis=1,inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Survived            1309 non-null   float64
 1   Age                 1046 non-null   float64
 2   Fare                1308 non-null   float64
 3   isMother            1309 non-null   int32
 4   FamilySize          1309 non-null   int64
 5   isMale              1309 non-null   int32
 6   Deck_A              1309 non-null   uint8
 7   Deck_B              1309 non-null   uint8
 8   Deck_C              1309 non-null   uint8
 9   Deck_D              1309 non-null   uint8
 10  Deck_E              1309 non-null   uint8
 11  Deck_F              1309 non-null   uint8
 12  Deck_G              1309 non-null   uint8
 13  Deck_T              1309 non-null   uint8
 14  Deck_Z              1309 non-null   uint8
 15  Fare_Bin_very_low   1309 non-null   uint8
 16  Fare_Bin_low        1309 non-null   uint8
 17  Fare_Bin_high       1309 non-null   uint8
 18  Fare_Bin_very_high  1309 non-null   uint8
 19  Pclass_1            1309 non-null   uint8
 20  Pclass_2            1309 non-null   uint8
 21  Pclass_3            1309 non-null   uint8
 22  Title_'Lady'        1309 non-null   uint8
 23  Title_'Master'      1309 non-null   uint8
 24  Title_'Miss'        1309 non-null   uint8
 25  Title_'Mr'          1309 non-null   uint8
 26  Title_'Mrs'         1309 non-null   uint8
 27  Title_'Officer'     1309 non-null   uint8
 28  Title_'Sir'         1309 non-null   uint8
 29  Embarked_C          1309 non-null   uint8
 30  Embarked_Q          1309 non-null   uint8
 31  Embarked_S          1309 non-null   uint8
 32  AgeState_Adult      1309 non-null   uint8
 33  AgeState_Child      1309 non-null   uint8
dtypes: float64(3), int32(2), int64(1), uint8(28)
memory usage: 97.2 KB

In [10]:
#reorder columns(排序)
columns = [column for column in df.columns if column != 'Survived']
print(columns)
columns = ['Survived']+columns
print(columns)
df=df[columns]
print(df)

['Age', 'Fare', 'isMother', 'FamilySize', 'isMale', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_T', 'Deck_Z', 'Fare_Bin_very_low', 'Fare_Bin_low', 'Fare_Bin_high', 'Fare_Bin_very_high', 'Pclass_1', 'Pclass_2', 'Pclass_3', "Title_'Lady'", "Title_'Master'", "Title_'Miss'", "Title_'Mr'", "Title_'Mrs'", "Title_'Officer'", "Title_'Sir'", 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'AgeState_Adult', 'AgeState_Child']
['Survived', 'Age', 'Fare', 'isMother', 'FamilySize', 'isMale', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_T', 'Deck_Z', 'Fare_Bin_very_low', 'Fare_Bin_low', 'Fare_Bin_high', 'Fare_Bin_very_high', 'Pclass_1', 'Pclass_2', 'Pclass_3', "Title_'Lady'", "Title_'Master'", "Title_'Miss'", "Title_'Mr'", "Title_'Mrs'", "Title_'Officer'", "Title_'Sir'", 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'AgeState_Adult', 'AgeState_Child']
             Survived   Age      Fare  isMother  FamilySize  isMale  Deck_A  \
PassengerId
1                 0.0  22.0    7.2500         0           2       1       0
2                 1.0  38.0   71.2833         0           2       0       0
3                 1.0  26.0    7.9250         0           1       0       0
4                 1.0  35.0   53.1000         0           2       0       0
5                 0.0  35.0    8.0500         0           1       1       0
...               ...   ...       ...       ...         ...     ...     ...
1305           -888.0   NaN    8.0500         0           1       1       0
1306           -888.0  39.0  108.9000         0           1       0       0
1307           -888.0  38.5    7.2500         0           1       1       0
1308           -888.0   NaN    8.0500         0           1       1       0
1309           -888.0   NaN   22.3583         0           3       1       0

             Deck_B  Deck_C  Deck_D  ...  Title_'Miss'  Title_'Mr'  \
PassengerId                          ...
1                 0       0       0  ...             0           1
2                 0       1       0  ...             0           0
3                 0       0       0  ...             1           0
4                 0       1       0  ...             0           0
5                 0       0       0  ...             0           1
...             ...     ...     ...  ...           ...         ...
1305              0       0       0  ...             0           1
1306              0       1       0  ...             0           0
1307              0       0       0  ...             0           1
1308              0       0       0  ...             0           1
1309              0       0       0  ...             0           0

             Title_'Mrs'  Title_'Officer'  Title_'Sir'  Embarked_C  \
PassengerId
1                      0                0            0           0
2                      1                0            0           1
3                      0                0            0           0
4                      1                0            0           0
5                      0                0            0           0
...                  ...              ...          ...         ...
1305                   0                0            0           0
1306                   0                0            0           1
1307                   0                0            0           0
1308                   0                0            0           0
1309                   0                0            0           1

             Embarked_Q  Embarked_S  AgeState_Adult  AgeState_Child
PassengerId
1                     0           1               1               0
2                     0           0               1               0
3                     0           1               1               0
4                     0           1               1               0
5                     0           1               1               0
...                 ...         ...             ...             ...
1305                  0           1               0               1
1306                  0           0               1               0
1307                  0           1               1               0
1308                  0           1               0               1
1309                  0           0               0               1

[1309 rows x 34 columns]

# Save Dataframe to file using pandas

In [5]:
import os
processed_data_path = os.path.join(os.path.pardir,"data","processed")
write_train_path = os.path.join(processed_data_path,'train.csv')
write_test_path = os.path.join(processed_data_path,'test.csv')

In [11]:
df.loc[df.Survived!=-888].to_csv(write_train_path)

#test data
df.Survived.fillna(-888,inplace=True)
columns = [column for column in df.columns if column != 'Survived']
print(df[df.Survived == -888][columns])
df[df.Survived == -888][columns].to_csv(write_test_path)

              Age      Fare  isMother  FamilySize  isMale  Deck_A  Deck_B  \
PassengerId
892          34.5    7.8292         0           1       1       0       0
893          47.0    7.0000         0           2       0       0       0
894          62.0    9.6875         0           1       1       0       0
895          27.0    8.6625         0           1       1       0       0
896          22.0   12.2875         1           3       0       0       0
...           ...       ...       ...         ...     ...     ...     ...
1305          NaN    8.0500         0           1       1       0       0
1306         39.0  108.9000         0           1       0       0       0
1307         38.5    7.2500         0           1       1       0       0
1308          NaN    8.0500         0           1       1       0       0
1309          NaN   22.3583         0           3       1       0       0

             Deck_C  Deck_D  Deck_E  ...  Title_'Miss'  Title_'Mr'  \
PassengerId                          ...
892               0       0       0  ...             0           1
893               0       0       0  ...             0           0
894               0       0       0  ...             0           1
895               0       0       0  ...             0           1
896               0       0       0  ...             0           0
...             ...     ...     ...  ...           ...         ...
1305              0       0       0  ...             0           1
1306              1       0       0  ...             0           0
1307              0       0       0  ...             0           1
1308              0       0       0  ...             0           1
1309              0       0       0  ...             0           0

             Title_'Mrs'  Title_'Officer'  Title_'Sir'  Embarked_C  \
PassengerId
892                    0                0            0           0
893                    1                0            0           0
894                    0                0            0           0
895                    0                0            0           0
896                    1                0            0           0
...                  ...              ...          ...         ...
1305                   0                0            0           0
1306                   0                0            0           1
1307                   0                0            0           0
1308                   0                0            0           0
1309                   0                0            0           1

             Embarked_Q  Embarked_S  AgeState_Adult  AgeState_Child
PassengerId
892                   1           0               1               0
893                   0           1               1               0
894                   1           0               1               0
895                   0           1               1               0
896                   0           1               1               0
...                 ...         ...             ...             ...
1305                  0           1               0               1
1306                  0           0               1               0
1307                  0           1               1               0
1308                  0           1               0               1
1309                  0           0               0               1

[418 rows x 33 columns]