In [2]:
from loadData import loadDate
import numpy as np
import pandas as pd

In [3]:
df = loadDate()
print(df)

             Survived  Pclass  \
PassengerId
1                 0.0       3
2                 1.0       1
3                 1.0       3
4                 1.0       1
5                 0.0       3
...               ...     ...
1305              NaN       3
1306              NaN       1
1307              NaN       3
1308              NaN       3
1309              NaN       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
1305                                        Spector, Mr. Woolf    male   NaN
1306                              Oliva y Ocana, Dona. Fermina  female  39.0
1307                              Saether, Mr. Simon Sivertsen    male  38.5
1308                                       Ware, Mr. Frederick    male   NaN
1309                                  Peter, Master. Michael J    male   NaN

             SibSp  Parch              Ticket      Fare Cabin Embarked
PassengerId
1                1      0           A/5 21171    7.2500   NaN        S
2                1      0            PC 17599   71.2833   C85        C
3                0      0    STON/O2. 3101282    7.9250   NaN        S
4                1      0              113803   53.1000  C123        S
5                0      0              373450    8.0500   NaN        S
...            ...    ...                 ...       ...   ...      ...
1305             0      0           A.5. 3236    8.0500   NaN        S
1306             0      0            PC 17758  108.9000  C105        C
1307             0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
1308             0      0              359309    8.0500   NaN        S
1309             1      1                2668   22.3583   NaN        C

[1309 rows x 11 columns]

# Feature AgeState

In [ ]:
#年齡大於等於18視為成人，反之child
df['AgeState'] = np.where(df.Age>=18,'Adult','Child')

In [ ]:
#這項特徵可能優先考慮救生艇生存機率高
df['AgeState'].value_counts()

In [ ]:
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].AgeState)

# Feature FamilySize

In [ ]:
#添加兄弟大小和
df['FamilySize']= df.Parch+df.SibSp+1

In [ ]:
df.info()

In [ ]:
#大多數都是單身或非常小的家庭
df['FamilySize'].plot(kind='hist',color='c')

In [ ]:
df.loc[df.FamilySize == df.FamilySize.max(),['Name','Survived','FamilySize','Ticket']]

In [ ]:
#3和4和4的小家庭更多活下來，對於大家庭存活率非常差
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].FamilySize)

# Feature: isMother

In [ ]:
df.info()

In [ ]:
def getTitleGroup(name):
    title_group={'mr':'Mr',
                 'mrs':'Mrs',
                 'miss':'Miss',
                 'master':'Master',
                 'don':'Sir',
                 'rev':'Sir',
                 'dr':'Officer',
                 'mme':'Mrs',
                 'ms':'Mrs',
                 'major':'Officer',
                 'lady':'Lady',
                 'sir':'Sir',
                 'mlle':'Miss',
                 'col':'Officer', 
                 'capt':'Officer',
                 'the countess':'Lady',
                 'jonkheer':'Sir',
                 'dona':'Lady'}
    first_name_with_title = name.split(',')[1]
    title=first_name_with_title.split('.')[0]
    #拿掉所有空格，轉成小寫
    title= title.strip().lower()
    return (title_group[title])
df['Title']=df.Name.map(lambda x:getTitleGroup(x))

In [ ]:
df['isMother'] = np.where((df.Sex=='female')&(df.Parch>0)&(df.Age>18)&(df.Title!= 'Miss'),1,0)

In [ ]:
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].isMother)

# Deck 甲板

In [ ]:
#explore cabin values
df.Cabin

In [4]:
df.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148', 'B45', 'B36', 'A21', 'D34', 'A9', 'C31', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C55 C57', 'C116', 'F', 'A29', 'C6', 'C28',
       'C51', 'C97', 'D22', 'B10', 'E45', 'E52', 'A11', 'B11', 'C80',
       'C89', 'F E46', 'B26', 'F E57', 'A18', 'E60', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D40', 'D38', 'C105'], dtype=object)

In [5]:
df.loc[df.Cabin=='T']

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
340,0.0,1,"Blackwell, Mr. Stephen Weart",male,45.0,0,0,113784,35.5,T,S

In [8]:
#不想要一位乘客創建一個單獨的套排，所以假設T是錯誤的
df.loc[df.Cabin=='T','Cabin']=np.NaN
df.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44', 'A34',
       'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37',
       'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38', 'B39',
       'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68', 'B41',
       'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48', 'E58',
       'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148', 'B45', 'B36', 'A21', 'D34', 'A9', 'C31', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C55 C57', 'C116', 'F', 'A29', 'C6', 'C28',
       'C51', 'C97', 'D22', 'B10', 'E45', 'E52', 'A11', 'B11', 'C80',
       'C89', 'F E46', 'B26', 'F E57', 'A18', 'E60', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D40', 'D38', 'C105'], dtype=object)

In [9]:
def get_deck(cabin):
    return np.where(pd.notnull(cabin),str(cabin)[0].upper(),'Z')
df['Deck']=df.Cabin.map(lambda x:get_deck(x))
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   int64
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   object
 4   Age       1046 non-null   float64
 5   SibSp     1309 non-null   int64
 6   Parch     1309 non-null   int64
 7   Ticket    1309 non-null   object
 8   Fare      1308 non-null   float64
 9   Cabin     294 non-null    object
 10  Embarked  1307 non-null   object
 11  Deck      1309 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 132.9+ KB
None

In [ ]:
df.Deck.value_counts()

In [ ]:
#甲板bde存活高
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].Deck)